@charset "utf-8";

/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc
 * 
 */




 .encabezado {
    background:rgb(189 183 183 / 85%);
    text-align: center;
 }

 .centrar {
    text-align: center;
 }

 .imagenencabezado{
     position:absolute;
 }

 .parrafo{
    background: rgb(0, 0, 0);
    position: relative;
    left: 400px;
    color:azure;
    padding:5px;
    width: 400px;
 }


 .piedepagina{
    background: rgb(189 183 183 / 85%); 
    position:absolute;
    top: 800px;
    width: 100%;
 }

h1{
     color: cadetblue;
     left: 400px;
     position: relative;
 }

#1{
    
}
